body, html {
	margin:0;
	padding:0;
	color:#000;
	background:#a7a09a;
}

#wrap {
	width:1200px;
	margin:0 auto;
	background:#99c;
}

#header {
}

#controls {
	float: left;
	width: 300px;
}

#data {
	float: right;
	width: 500px;
}

